.explanation{
    padding: 16px;
    margin: 16px;
}

.explanation #S{
    padding-right: 12px;
}

.to-fill{
    padding: 32px;
}

.contact{
    background-color: whitesmoke;
    padding: 16px;
}

.contact .btn{
    margin-left: 40%;
    margin-bottom: 16px;
}

.search{
    padding-top: 16px;
}

.subscribe{
    padding-top: 16px;
}

.subscribe .sub-form{
    padding: 16px;
    background-color: whitesmoke;
}