.kotak3 {
  text-align: center;
  margin-top: 1px;
}

.serv {
  font-size: large;
  color: white;
  text-align: center;
  margin-top: 20px;
  background-image: url("OurServices.png");
  width: 100%;
  height: 450px;
}

.clients {
  text-align: center;
}

.client {
  text-align: center;
  margin-top: 20px;
}

.footer {
  background-image: url("Rectangle 17.png");
  color: white;
}

.links {
  ul {
    list-style-type: none;
  }

  li a {
    color: white;
    transition: color .2s;

    &:hover {
      text-decoration: none;
      color: #4180CB;
    }
  }
}

.about-company {
  i {
    font-size: 25px;
  }

  a {
    color: white;
    transition: color .2s;

    &:hover {
      color: #4180CB
    }
  }
}

.location {
  i {
    font-size: 18px;
  }
}

.copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
}
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

  nav,
  article {
    width: 100%;
    height: auto;
  }
}

div.desc {
  background-color: #000;
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

.fix {
  width: 100%;
  padding: 0px;
}

/*sasjsah*/

/* image thumbnail */
.thumb {
  display: block;
  width: 100%;
  margin: 0;
}

/* Style to article Author */
.by-author {
  font-style: italic;
  line-height: 1.3;
  color: #aab6aa;
}

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article {
  position: relative;
  margin-bottom: 1em;
}

.featured-article .block-title {
  /* Position & Box Model */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  /* background */
  background: rgba(0, 0, 0, 0.7);
  /* Width/Height */
  padding: .5em;
  width: 100%;
  height: 100px;
  /* Text color */
  color: #fff;
  font-size: 12pt;
}

.featured-article .block-title h2 {
  margin: 0;
}

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
  padding-left: .5em;
}

.main-list .media {
  padding-bottom: 1.1em;
  border-bottom: 1px solid #e8e8e8;
}

.anti-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.anti-margin {
  padding: 0 !important
}

.p-vertical {
  margin-top: 25px;
  margin-bottom: 50px;
}

.border-right {
  border-right: 1px solid white;
}

.copy-footer-mobile {
  margin-top: 30px;
  margin-bottom: -80px;
  height: 50px;
  text-align: center;
}

.copy-footer-desktop{
font-family: 'Arial', sans-serif;
color: #858b90;
font-size: 12px;
text-align: left;
margin-top: 20px;
margin-left: 50px;
}

.footlink{
margin: 10px;
margin-top: -1px;
color: #858b90; 
font-family: 'Arial', sans-serif;
font-size: 14px;
}

.footsos{
  margin: 10px;
  margin-top: 100px;
  margin-left: 100px;
}